.img-container {
  text-align: center;
}
.sign-style {
  font-size: 25px;
  font-weight: 500;
  color: #000;
}
.agree-style {
  color: #808080;
}
.snack-style {
  font-family: 'Open sans ', sans-serif;
}
